# Nim build artifacts
nimcache/
*.exe
*.out
*.o
*.a

# Nimble
nimblecache/
.nimble/
nimble.lock  # add only once deps are stable

htmldocs/
site/

# OS
.DS_Store
Thumbs.db

# Dev artifacts
.idea/
.omp-reports/
.serena/
